/* calendar-aulas.component.css */
:host ::ng-deep .fc-event {
  /* background-color: #0f172a; */
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 13px;
  padding: 2px 6px;
}

:host ::ng-deep .fc-event {
  cursor: pointer;
  background-color: var(--fc-event-bg-color);
}

:host ::ng-deep .fc {
  background-color: white;
  color: black;
  font-family: "Segoe UI", sans-serif;
}

:host ::ng-deep .fc-daygrid-event {
  /* background-color: #0f172a;  */
  color: white;
  border: none;
  border-radius: 6px;
  padding: 2px 4px;
  font-size: 13px;
}

:host ::ng-deep .fc-toolbar-title {
  color: #1e293b;
}

:host ::ng-deep .fc-button {
  background-color: #3b82f6;
  border: none;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
}
