<p-card styleClass="calendar-card shadow-4">
  <ng-template pTemplate="header">
    <h1 class="titulo">📅 Calendário de Aulas</h1>
  </ng-template>
  <full-calendar [options]="calendarOptions" style="width: 100%" />
</p-card>
<footer class="footer-fixo shadow-3">
  <div class="flex gap-3" style="justify-content: center">
    <p-button
      label="Voltar"
      icon="pi pi-arrow-left"
      class="p-button-text p-button-secondary button-large"
      (onClick)="voltarParaListagem()"
    >
    </p-button>
  </div>
</footer>
