:host ::ng-deep .p-card {
  border-radius: 1rem;
  padding: 1.5rem;
}

.text-secondary {
  color: #6c757d;
  font-size: 1rem;
}

.summary-card {
  width: 100%;
  max-width: 18rem;
}

:host ::ng-deep .p-card {
  border-radius: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.06);
}

.borda-tabela-card {
  border-color: #ede4e4 !important;
}
