<!-- min-h-screen -->
<div
  class="flex flex-column align-items-center justify-content-center p-4 gap-4 bg-gray-100"
>
  <p-card class="w-full max-w-md text-center shadow-4">
    <ng-template pTemplate="header">
      <h2 class="mt-4">Olá, {{ usuario.nome }}! 👋</h2>
      <p class="text-secondary">
        Pronto para mais uma aula<br class="sm:hidden" />
        incrível hoje?
      </p>
    </ng-template>

    <div class="flex flex-row gap-3 mt-4 justify-content-center flex-wrap">
      <p-button
        label="Cadastrar aluno"
        icon="pi pi-user-plus"
        (onClick)="navegar('/alunos/cadastrar')"
        class="w-12rem sm:w-auto"
      ></p-button>
      <p-button
        label="Listar seus alunos"
        icon="pi pi-users"
        (onClick)="navegar('/listar')"
        class="p-button-secondary w-12rem sm:w-auto"
      ></p-button>
      <p-button
        label="Calendário de aulas"
        icon="pi pi-calendar-plus"
        (onClick)="navegar('/calendario-aulas')"
        class="p-button-secondary w-12rem sm:w-auto"
      ></p-button>
    </div>
  </p-card>

  <div class="w-full max-w-screen-lg mt-4" *ngIf="cardsEstatisticas">
    <div class="flex flex-wrap justify-content-center gap-3">
      <div class="summary-card">
        <p-card>
          <ng-template pTemplate="header">
            <span class="font-bold">Total de alunos</span>
          </ng-template>
          <div class="text-center text-5xl font-bold text-primary">
            {{ cardsEstatisticas.totalAlunos }}
          </div>
        </p-card>
      </div>
      <div class="summary-card">
        <p-card>
          <ng-template pTemplate="header">
            <span class="font-bold">Aulas no mês</span>
          </ng-template>
          <div class="text-center text-5xl font-bold text-primary">
            {{ cardsEstatisticas.aulasMesAtual }}
          </div>
        </p-card>
      </div>
      <div class="summary-card">
        <p-card>
          <ng-template pTemplate="header">
            <span class="font-bold">Aulas nessa semana</span>
          </ng-template>
          <div class="text-center text-5xl font-bold text-primary">
            {{ cardsEstatisticas.aulasSemanaAtual }}
          </div>
        </p-card>
      </div>
    </div>
  </div>
</div>

<div class="w-full max-w-screen-lg pl-8">
  <div class="grid gap-3">
    <!-- Favoritos - 4 colunas -->
    <div class="col-12 md:col-4" *ngIf="favoritos">
      <p-card>
        <ng-template pTemplate="header">
          <span class="font-bold text-lg">⭐ Favoritos do mês</span>
        </ng-template>
        <div>
          <div
            class="grid align-items-center py-3 border-top-1 surface-border borda-tabela-card"
            *ngFor="let aluno of favoritos"
          >
            <div class="col-3 flex flex-column align-items-center text-center">
              <img
                [src]="aluno.fotoUrl"
                alt="Foto do aluno"
                class="border-circle shadow-1 img-miniatura mb-2"
                style="width: 50px; height: 50px"
              />
              <a
                [routerLink]="['/alunos', aluno.id]"
                class="text-sm text-primary hover:underline link"
              >
                Ver perfil
              </a>
            </div>
            <div class="col-9 font-bold text-color">
              {{ aluno.nomeAluno }} - {{ aluno.quantidadeAulas }} aulas
            </div>
          </div>
        </div>
        <div *ngIf="!favoritos">SEM ALUNOS FAVORITOS</div>
      </p-card>
    </div>
    <!-- Últimas aulas realizadas -->
    <div class="col-12 md:col-6" *ngIf="ultimasAulas">
      <p-card>
        <ng-template pTemplate="header">
          <span class="font-bold text-lg">📚 Últimas aulas realizadas</span>
        </ng-template>

        <div
          class="grid font-semibold text-sm text-color-secondary mb-2 text-center"
        >
          <div class="col-4">Aluno</div>
          <div class="col-4">Data</div>
          <div class="col-4">Total de Aulas</div>
        </div>
        <div
          class="grid align-items-center py-2 border-top-1 borda-tabela-card text-center"
          *ngFor="let aula of ultimasAulas"
        >
          <div class="col-4 font-medium">
            <div class="flex align-items-center text-center">
              <img
                [src]="aula.fotoUrl"
                alt="Foto do aluno"
                class="border-circle shadow-1 img-miniatura mb-2"
                style="width: 50px; height: 50px"
              />
              <span class="ml-3">{{ aula.nomeAluno }}</span>
            </div>
          </div>
          <div class="col-4">
            {{ aula.dataAula | date : "d 'de' MMMM 'de' y" }}
          </div>
          <div class="col-4">
            {{ aula.totalAulas }}
          </div>
        </div>
        <p *ngIf="ultimasAulas.length === 0" class="text-secondary text-center">
          Nenhuma aula recente encontrada.
        </p>
      </p-card>
    </div>
    <!-- Notificações (abaixo ocupando 100%) -->
    <div class="col-12">
      <p-card>
        <ng-template pTemplate="header">
          <span class="font-bold text-lg">🔔 Notificações</span>
        </ng-template>
        <!-- lista de lembretes -->
      </p-card>
    </div>
  </div>
</div>
