<!-- min-h-screen -->
<div
  class="flex flex-column align-items-center justify-content-center p-4 gap-4 bg-gray-100"
>
  <p-card class="w-full max-w-md text-center shadow-4">
    <ng-template pTemplate="header">
      <h2 class="mt-4">Olá, {{ usuario.nome }}! 👋</h2>
      <p class="text-secondary">
        Pronto para mais uma aula<br class="sm:hidden" />
        incrível hoje?
      </p>
    </ng-template>

    <div class="flex flex-row gap-3 mt-4 justify-content-center flex-wrap">
      <p-button
        label="Cadastrar aluno"
        icon="pi pi-user-plus"
        (onClick)="navegar('/alunos/cadastrar')"
        class="w-12rem sm:w-auto"
      ></p-button>
      <p-button
        label="Listar seus alunos"
        icon="pi pi-users"
        (onClick)="navegar('/listar')"
        class="p-button-secondary w-12rem sm:w-auto"
      ></p-button>
      <p-button
        label="Calendário de aulas"
        icon="pi pi-calendar-plus"
        (onClick)="navegar('/calendario-aulas')"
        class="p-button-secondary w-12rem sm:w-auto"
      ></p-button>
    </div>
  </p-card>

  <app-cards-estatisticas
    class="w-full max-w-screen-lg mt-4"
  ></app-cards-estatisticas>
</div>

<div class="w-full max-w-screen-lg grid gap-3 px-3 sm:px-4 md:px-6 lg:px-8">
  <!-- Favoritos - 4 colunas -->
  <div class="col-12 md:col-4">
    <app-favoritos></app-favoritos>
  </div>
  <!-- Últimas aulas realizadas -->
  <div class="col-12 md:col-6">
    <app-ultimas-aulas></app-ultimas-aulas>
  </div>
  <!-- Notificações (abaixo ocupando 100%) -->
  <div class="col-12">
    <p-card>
      <ng-template pTemplate="header">
        <span class="font-bold text-lg">🔔 Notificações</span>
      </ng-template>
      <!-- lista de lembretes -->
    </p-card>
  </div>
</div>
