<form [formGroup]="form">
  <!-- Data de início -->
  <div class="mt-2 text-sm text-color-secondary text-center">
    <span>Aluno desde</span>

    <div class="flex flex-column">
      <span *ngIf="!editandoAlunoDesde">{{
        aluno.dataPrimeiraAula
          ? (aluno.dataPrimeiraAula | date : "dd/MM/yyyy")
          : "-"
      }}</span>

      <p-datepicker
        *ngIf="editandoAlunoDesde"
        formControlName="dataPrimeiraAula"
        size="small"
        showIcon
        iconDisplay="input"
        dateFormat="dd/mm/yy"
        [maxDate]="hoje"
        [ngClass]="{
          'ng-invalid ng-dirty':
            form.get('dataPrimeiraAula')?.invalid &&
            form.get('dataPrimeiraAula')?.touched
        }"
      />
    </div>
    <!-- Botão cancelar (só aparece no modo de edição) -->
    <button
      *ngIf="editandoAlunoDesde"
      class="botao-cancelar"
      pTooltip="Cancelar edição"
      tooltipPosition="left"
      (click)="cancelarEdicaoDesde()"
    >
      <i class="pi pi-times"></i>
    </button>
    <button
      class="botao-editar"
      tooltipPosition="right"
      (click)="executarEdicaoAlunoDesde()"
    >
      <i class="pi {{ !editandoAlunoDesde ? 'pi-pencil' : 'pi-check' }}"></i>
    </button>
  </div>
</form>
