<p-card *ngIf="ultimasAulas">
  <ng-template pTemplate="header">
    <span class="font-bold text-lg">📚 Últimas aulas realizadas</span>
  </ng-template>

  <div
    class="flex w-full text-sm py-3 px-2 text-gray-700 font-bold mb-2 text-center"
  >
    <div class="flex-1 text-lg">Aluno</div>
    <div class="w-1/4 text-lg">Data</div>
    <div class="hidden md:block w-1/4 text-lg">Total de Aulas</div>
  </div>
  <div class="text-center" *ngFor="let aula of ultimasAulas">
    <div
      class="flex w-full items-center border-t-1 surface-border linha-clicavel p-2"
      (click)="redirecionarAluno(aula.idAluno, aula.idAula)"
    >
      <div class="flex-1 font-medium pt-2">
        <div class="flex items-center text-center">
          <img
            [src]="aula.fotoUrl"
            alt="Foto do aluno"
            class="img-aluno img-miniatura-sm"
          />
          <span class="ml-5">{{ aula.nomeAluno }}</span>
        </div>
      </div>
      <div class="w-1/4">
        {{ aula.dataAula | date : "dd/MM/yyyy" }}
      </div>
      <div class="hidden md:block w-1/4">
        {{ aula.totalAulas }}
      </div>
    </div>
  </div>
  <p *ngIf="ultimasAulas.length === 0" class="text-secondary text-center">
    Nenhuma aula recente encontrada.
  </p>
</p-card>
