<!-- detalhar-aula.component.html -->
<span #topo tabindex="-10000"></span>
<form [formGroup]="form" class="p-3">
  <div class="flex flex-col gap-4 md:flex-row md:items-center md:gap-4">
    <div class="form-field w-full md:w-auto">
      <label class="label">Data da aula:</label>
      <p-datepicker
        formControlName="dataAula"
        showIcon
        iconDisplay="input"
        dateFormat="dd/mm/yy"
        [maxDate]="hoje"
      />
    </div>

    <div class="flex justify-center gap-4 w-full mb-4 md:basis-5xl">
      <ng-container *ngIf="editando; else visualizar">
        <p-button
          label="Salvar"
          icon="pi pi-check"
          class="p-button-primary"
          (onClick)="salvar()"
        ></p-button>
        <p-button
          label="Cancelar"
          icon="pi pi-times"
          severity="secondary"
          (onClick)="onCancel()"
        ></p-button>
      </ng-container>

      <ng-template #visualizar>
        <p-button
          label="Editar"
          icon="pi pi-pencil"
          (onClick)="alterarFlagEdicao()"
        ></p-button>
        <p-button
          label="Fechar"
          icon="pi pi-times"
          severity="secondary"
          (onClick)="fechar.emit()"
        ></p-button>
      </ng-template>
    </div>
  </div>

  <!-- Linha 2: Anotações e demais campos -->
  <div class="flex flex-col gap-4 md:flex-row">
    <div class="form-field w-full md:w-1/3" *ngIf="editando">
      <label for="anotacoes" class="label">Anotações:</label>
      <textarea
        pInputTextarea
        id="anotacoes"
        formControlName="anotacoes"
        rows="10"
        class="w-full"
        [ngClass]="{
          'ng-invalid ng-dirty':
            form.get('anotacoes')?.invalid && form.get('anotacoes')?.touched
        }"
      ></textarea>
      <small
        class="error-message"
        *ngIf="
          form.get('anotacoes')?.hasError('required') &&
          form.get('anotacoes')?.touched
        "
      >
        O campo Anotações é obrigatório</small
      >
    </div>
    <div class="form-field w-full md:w-1/3" *ngIf="!editando">
      <p-panel class="w-full">
        <ng-template pTemplate="header">
          <span class="label">Anotações</span>
        </ng-template>
        <div class="break-words whitespace-pre-line">
          {{ aula!.anotacoes || "—" }}
        </div>
      </p-panel>
    </div>

    <div class="form-field w-full md:w-1/3" *ngIf="editando">
      <label for="campo1" class="label">Comentários do professor:</label>
      <textarea
        pInputTextarea
        id="comentarios"
        formControlName="comentarios"
        rows="10"
        class="w-full"
      ></textarea>
    </div>
    <div class="form-field w-full md:w-1/3" *ngIf="!editando">
      <p-panel class="w-full">
        <ng-template pTemplate="header">
          <span class="label">Comentários do professor</span>
        </ng-template>
        <div class="break-words whitespace-pre-line">
          {{ aula!.comentarios || "—" }}
        </div>
      </p-panel>
    </div>
    <div class="form-field w-full md:w-1/3" *ngIf="editando">
      <label for="proxima-aula" class="label">Próxima aula:</label>
      <textarea
        pInputTextarea
        id="proxima-aula"
        formControlName="proximaAula"
        rows="10"
        class="w-full"
      ></textarea>
    </div>
    <div class="form-field w-full md:w-1/3" *ngIf="!editando">
      <p-panel class="w-full">
        <ng-template pTemplate="header">
          <span class="label">Próxima aula</span>
        </ng-template>

        <div class="break-words whitespace-pre-line">
          {{ aula!.proximaAula || "—" }}
        </div>
      </p-panel>
    </div>
  </div>
</form>
