<!-- navbar.component.html -->
<p-menubar
  [model]="items"
  class="fixed top-0 left-0 w-full z-50 shadow-md bg-white border-b border-gray-200"
>
  <ng-template #end>
    <div class="flex gap-2 items-center w-full">
      <p-autoComplete
        id="autocompleteNomeAlunos"
        #autocompleteRef
        [(ngModel)]="alunoSelecionado"
        [suggestions]="alunosFiltrados"
        (completeMethod)="filtrarAlunos($event)"
        field="nome"
        placeholder="Pesquise pelo nome do aluno..."
        [minLength]="3"
        inputStyleClass="w-80"
        emptyMessage="Sem resultados"
        (onSelect)="irParaDetalharAluno($event)"
      >
        <ng-template let-aluno pTemplate="item">
          <div class="flex items-center gap-3 p-2">
            <img
              [src]="aluno.fotoUrl"
              alt="Foto de {{ aluno.nome }}"
              class="w-10 h-10 rounded-full object-cover border border-gray-300"
            />
            <span class="text-sm text-gray-800 dark:text-white">{{
              aluno.nome
            }}</span>
          </div>
        </ng-template>
      </p-autoComplete>

      <!-- <input
        type="text"
        pInputText
        placeholder="Pesquise pelo nome do aluno..."
        class="w-65 md:w-90"
      /> -->

      <p-avatar
        class="ml-3"
        image="https://aluno-app-fotos.s3.us-east-1.amazonaws.com/fotos-dev/4105926a-0db7-44b0-a835-764784dd83fa.jpg"
        shape="circle"
        size="large"
      />
    </div>
  </ng-template>
</p-menubar>
<div class="h-14"></div>
<!-- espaço para empurrar conteúdo -->
