<div class="w-full max-w-screen-lg mt-4" *ngIf="cardsEstatisticas">
  <div class="flex flex-wrap justify-content-center gap-3">
    <div class="summary-card">
      <p-card>
        <ng-template pTemplate="header">
          <span class="font-bold text-lg">Total de alunos</span>
        </ng-template>
        <div class="text-center text-5xl font-bold text-primary">
          {{ cardsEstatisticas.totalAlunos }}
        </div>
      </p-card>
    </div>
    <div class="summary-card">
      <p-card>
        <ng-template pTemplate="header">
          <span class="font-bold text-lg">Aulas no mês</span>
        </ng-template>
        <div class="text-center text-5xl font-bold text-primary">
          {{ cardsEstatisticas.aulasMesAtual }}
        </div>
      </p-card>
    </div>
    <div class="summary-card">
      <p-card>
        <ng-template pTemplate="header">
          <span class="font-bold text-lg">Aulas nessa semana</span>
        </ng-template>
        <div class="text-center text-5xl font-bold text-primary">
          {{ cardsEstatisticas.aulasSemanaAtual }}
        </div>
      </p-card>
    </div>
  </div>
</div>
