<!-- detalhar-aula.component.html -->
<span #topo tabindex="-10000"></span>
<form [formGroup]="form" class="p-fluid p-3">
  <div class="p-fluid p-3">
    <!-- Linha com FLEX -->
    <div class="flex flex-wrap align-items-end gap-4 mb-3">
      <!-- Coluna com o calendário (ocupa 25%) -->
      <div class="w-full md:w-2">
        <label class="block mb-1">Data da aula:</label>
        <p-datepicker
          formControlName="dataAula"
          showIcon
          iconDisplay="input"
          dateFormat="dd/mm/yy"
          [maxDate]="hoje"
          styleClass="w-8"
        />
      </div>

      <!-- Coluna com botões (ocupa 75%) -->
      <div class="w-full md:w-8 flex justify-content-center gap-3">
        <ng-container *ngIf="editando; else visualizar">
          <p-button
            label="Salvar"
            icon="pi pi-check"
            class="p-button-primary"
            (onClick)="salvar()"
          ></p-button>
          <p-button
            label="Cancelar"
            icon="pi pi-times"
            severity="secondary"
            (onClick)="onCancel()"
          ></p-button>
        </ng-container>

        <ng-template #visualizar>
          <p-button
            label="Editar"
            icon="pi pi-pencil"
            (onClick)="alterarFlagEdicao()"
          ></p-button>
          <p-button
            label="Fechar"
            icon="pi pi-times"
            severity="secondary"
            (onClick)="fechar.emit()"
          ></p-button>
        </ng-template>
      </div>
    </div>

    <!-- Linha 2: Anotações e demais campos -->
    <div class="flex flex-wrap gap-4">
      <div class="flex-1 md:w-12" *ngIf="editando">
        <label for="anotacoes">Anotações:</label>
        <textarea
          pInputTextarea
          id="anotacoes"
          formControlName="anotacoes"
          rows="10"
          class="w-full"
          [ngClass]="{
            'ng-invalid ng-dirty':
              form.get('anotacoes')?.invalid && form.get('anotacoes')?.touched
          }"
        ></textarea>
        <small
          class="error-message"
          *ngIf="
            form.get('anotacoes')?.hasError('required') &&
            form.get('anotacoes')?.touched
          "
        >
          O campo Anotações é obrigatório</small
        >
      </div>
      <div class="flex-1 md:w-12" *ngIf="!editando">
        <p-panel class="w-full" header="Anotações">
          <div>
            {{ aula!.anotacoes || "—" }}
          </div>
        </p-panel>
      </div>

      <div class="flex-1 md:w-5" *ngIf="editando">
        <label for="campo1">Comentários do professor:</label>
        <textarea
          pInputTextarea
          id="comentarios"
          formControlName="comentarios"
          rows="10"
          class="w-full"
        ></textarea>
      </div>
      <div class="flex-1 md:w-5" *ngIf="!editando">
        <p-panel class="w-full" header="Comentários do professor">
          <div>
            {{ aula!.comentarios || "—" }}
          </div>
        </p-panel>
      </div>
      <div class="flex-1 md:w-5" *ngIf="editando">
        <label for="proxima-aula">Próxima aula:</label>
        <textarea
          pInputTextarea
          id="proxima-aula"
          formControlName="proximaAula"
          rows="10"
          class="w-full"
        ></textarea>
      </div>
      <div class="flex-1 md:w-5" *ngIf="!editando">
        <p-panel class="w-full" header="Próxima aula">
          <div>
            {{ aula!.proximaAula || "—" }}
          </div>
        </p-panel>
      </div>
    </div>
  </div>
</form>
