<!-- cadastrar-aluno.component.html -->

<div class="surface-100 p-4 min-h-screen flex justify-center">
  <div class="w-full max-w-[100rem]">
    <p-card class="w-full md:w-full">
      <h2 class="text-3xl font-bold mb-4">Cadastro de Aluno</h2>
      <form [formGroup]="form" class="mt-6">
        <div class="grid grid-cols-1 md:grid-cols-12 gap-4">
          <div class="flex flex-col col-span-1 md:col-span-2">
            <label for="nome" class="label">Nome:</label>
            <input
              pInputText
              id="nome"
              type="text"
              formControlName="nome"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  form.get('nome')?.invalid && form.get('nome')?.touched
              }"
            />
            <small
              class="error-message"
              *ngIf="
                form.get('nome')?.hasError('required') &&
                form.get('nome')?.touched
              "
            >
              Nome é obrigatório
            </small>
          </div>
          <div class="flex flex-col col-span-1 md:col-span-1">
            <label for="nivel" class="label">Nível:</label>
            <p-dropdown
              [options]="niveis"
              inputId="nivel"
              formControlName="nivel"
              optionLabel="label"
              optionValue="value"
              [ngClass]="{
                'ng-invalid ng-dirty':
                  form.get('nivel')?.invalid && form.get('nivel')?.touched
              }"
            ></p-dropdown>
            <small
              class="error-message"
              *ngIf="
                form.get('nivel')?.hasError('required') &&
                form.get('nivel')?.touched
              "
            >
              Nível é obrigatório
            </small>
          </div>
          <div class="flex flex-col col-span-1 md:col-span-1">
            <label for="idade" class="label">Idade:</label>
            <input
              pInputText
              id="idade"
              type="number"
              formControlName="idade"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-2">
            <label for="mora" class="label">Mora:</label>
            <input pInputText id="mora" type="text" formControlName="mora" />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-2">
            <label for="paisMora" class="label">País:</label>
            <p-autoComplete
              id="paisMora"
              formControlName="moraPaisObj"
              [suggestions]="paisesFiltradosMoraPais"
              (completeMethod)="filtrarPaisMora($event)"
              optionLabel="nome"
              styleClass="w-full"
              [field]="'nome'"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-2">
            <label for="cidadeNatal" class="label">Cidade Natal:</label>
            <input
              pInputText
              id="cidadeNatal"
              type="text"
              formControlName="cidadeNatal"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-2">
            <label for="paisNatal" class="label">País Natal:</label>
            <p-autoComplete
              id="paisNatal"
              formControlName="paisNatalObj"
              [suggestions]="paisesFiltradosPaisNatal"
              (completeMethod)="filtrarPaisNatal($event)"
              optionLabel="nome"
              [field]="'nome'"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-2">
            <label for="familia" class="label">Família:</label>
            <input
              pInputText
              id="familia"
              type="text"
              formControlName="familia"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-3">
            <label for="profissao" class="label">Profissão:</label>
            <input
              pInputText
              id="profissao"
              type="text"
              formControlName="profissao"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-3">
            <label for="hobbies" class="label">Hobbies:</label>
            <input
              pInputText
              id="hobbies"
              type="text"
              formControlName="hobbies"
            />
          </div>
          <div class="flex flex-col col-span-1 md:col-span-4">
            <label for="link" class="label">Link do perfil:</label>
            <input
              pInputText
              id="link"
              type="text"
              formControlName="linkPerfil"
            />
            <small
              class="error-message"
              *ngIf="
                form.get('linkPerfil')?.hasError('pattern') &&
                form.get('linkPerfil')?.touched
              "
            >
              O link é inválido
            </small>
          </div>
          <div class="flex flex-col col-span-1 md:col-span-12">
            <label class="label">Idiomas:</label>
            <div class="checkbox-group-horizontal mt-3">
              <div
                *ngFor="let idioma of idiomasDisponiveis"
                class="flex items-center min-w-[6rem]"
              >
                <p-checkbox
                  name="idiomas"
                  formControlName="idiomas"
                  [value]="idioma.id"
                  inputId="{{ idioma.id }}"
                ></p-checkbox>
                <label for="{{ idioma.id }}" class="ml-2 text-sm">{{
                  idioma.nome
                }}</label>
              </div>
            </div>
          </div>
          <div class="flex flex-col col-span-1 md:col-span-12">
            <label for="pontos" class="label">Pontos a saber:</label>
            <textarea
              pInputTextarea
              id="pontos"
              formControlName="pontos"
              rows="5"
              class="w-full"
            ></textarea>
          </div>
          <div class="flex flex-col col-span-1 md:col-span-12">
            <div #pasteListener class="invisible-input" contenteditable="true">
              <input type="file" name="foto" id="foto-input" class="d-none" />
            </div>
          </div>
          <div class="hidden md:flex md:flex-col md:col-span-12">
            <label for="foto" class="label">Imagem do aluno:</label>

            <div
              #imageContainer
              class="border-2 border-dashed rounded-md p-4 mt-4 mb-4"
              style="
                display: flex;
                background-color: #e1e1e1 !important;
                justify-content: center;
              "
            >
              <image-cropper
                *ngIf="imagemEvento"
                [imageChangedEvent]="imagemEvento"
                [maintainAspectRatio]="false"
                format="jpeg"
                style="display: block; margin-bottom: 1rem"
                (imageCropped)="onImageCropped($event)"
              ></image-cropper>
            </div>
          </div>
        </div>
        <div class="grid grid-cols-12">
          <!-- Botão à esquerda -->
          <div class="col-span-3 gap-3 hidden md:flex">
            <button
              pButton
              label="Colar Imagem"
              (click)="colarImagem()"
            ></button>
            <button
              pButton
              label="Limpar Imagem"
              (click)="resetarCropper()"
              *ngIf="imagemEvento"
            ></button>
          </div>

          <!-- Botões ao centro -->
          <div
            class="flex flex-col md:flex-row col-span-12 md:col-span-6 gap-3 justify-center items-center"
          >
            <p-button
              label="Salvar"
              icon="pi pi-check"
              (onClick)="salvar()"
            ></p-button>
            <p-button
              label="Cancelar"
              icon="pi pi-times"
              class="shadow"
              severity="secondary"
              (onClick)="voltarInicio()"
            ></p-button>
          </div>
        </div>
      </form>
    </p-card>
  </div>
</div>
