<p-card *ngIf="favoritos">
  <ng-template pTemplate="header">
    <span class="font-bold text-lg">⭐ Favoritos do mês</span>
  </ng-template>
  <div>
    <div
      class="flex gap-5 items-center py-3 border-t-1 surface-border"
      *ngFor="let aluno of favoritos"
    >
      <div class="flex flex-col items-center text-center">
        <img
          [src]="aluno.fotoUrl"
          alt="Foto do aluno"
          class="img-aluno img-miniatura-sm"
        />
        <a
          (click)="redirecionarAluno(aluno.id)"
          class="text-sm hover:underline link"
        >
          Ver perfil
        </a>
      </div>
      <div class="font-bold text-color">
        {{ aluno.nomeAluno }} - {{ aluno.quantidadeAulas }} aulas
      </div>
    </div>
  </div>
  <div *ngIf="!favoritos">SEM ALUNOS FAVORITOS</div>
</p-card>
