<p-card *ngIf="notificacoes">
  <ng-template pTemplate="header">
    <span class="font-bold text-lg">🔔 Notificações</span>
  </ng-template>
  <!-- lista de lembretes -->

  <p-accordion>
    <p-accordion-panel value="0">
      <p-accordion-header>📝 Aulas sem anotação</p-accordion-header>
      <p-accordion-content>
        <div
          *ngFor="let notificacao of notificacoes.aulasSemAnotacao"
          class="flex justify-between items-center border-bottom-1 surface-border py-3 px-2 hover:surface-100 border-round transition-duration-200"
        >
          <div
            class="flex items-center gap-3 cursor-pointer"
            (click)="
              redirecionarAlunoAula(notificacao.idAluno, notificacao.idAula)
            "
          >
            <i class="pi pi-exclamation-circle text-orange-500 text-xl"></i>
            <div class="flex flex-column">
              <span class="font-medium">{{ notificacao.mensagem }}</span>
            </div>
          </div>
        </div>

        <p
          *ngIf="notificacoes.aulasSemAnotacao.length === 0"
          class="text-center text-color-secondary py-3"
        >
          Nenhuma notificação.
        </p>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="1">
      <p-accordion-header>🎂 Aniversários</p-accordion-header>
      <p-accordion-content>
        <div
          *ngFor="let notificacao of notificacoes.aniversariosAlunos"
          class="flex justify-between items-center border-bottom-1 surface-border py-3 px-2 hover:surface-100 border-round cursor-pointer transition-duration-200"
        >
          <div class="flex items-center gap-3">
            <i class="pi pi-gift text-green-500 text-xl"></i>
            <div class="flex flex-column">
              <span class="font-medium">{{ notificacao.mensagem }}</span>
            </div>
          </div>
        </div>

        <p
          *ngIf="notificacoes.aulasSemAnotacao.length === 0"
          class="text-center text-color-secondary py-3"
        >
          Nenhuma notificação.
        </p>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</p-card>
