<div class="surface-100 p-4 min-h-screen flex justify-content-center">
  <p-card class="w-full md:w-10 lg:w-8">
    <div
      class="flex flex-column md:flex-row align-items-start gap-4"
      *ngIf="aluno"
    >
      <div class="flex flex-column align-items-center">
        <!-- Foto -->
        <img
          [src]="aluno.fotoUrl"
          alt="Foto do aluno"
          class="img-detalhe-aluno"
          style="width: 9rem"
        />
        <!-- Data de início -->
        <span class="mt-2 text-sm text-color-secondary">
          Desde xx/xx/xxxx
          <!-- desde {{ aluno.dataCadastro | date : "dd/MM/yyyy" }} -->
        </span>
      </div>
      <!-- Informações -->
      <div class="flex flex-column gap-3 w-full">
        <!-- Nome -->
        <h2
          class="mt-0 mb-2 text-2xl font-bold text-primary"
          style="font-size: 35px !important"
        >
          {{ aluno.nome }} - {{ aluno.nivel }}
        </h2>

        <!-- Grid das infos -->
        <div class="grid">
          <div class="col-12 md:col-12">
            <app-informacoes-basicas
              [alunoEditado]="alunoBasico"
              (editarInformacoesBasicas)="onEditarInformacoesBasicas($event)"
            ></app-informacoes-basicas>
            <app-idiomas
              [idiomasAluno]="aluno.idiomas"
              (editarIdiomas)="onEditarIdiomas($event)"
            ></app-idiomas>
          </div>
        </div>

        <!-- Aulas -->
        <div class="grid">
          <div class="col-6 md:col-6">
            <div style="position: relative">
              <button
                pButton
                pRipple
                type="button"
                icon="pi pi-calendar-plus"
                class="p-button-text p-button-rounded"
                style="position: absolute; top: -18px; right: 0; z-index: 10"
                aria-label="Nova Aula"
                (click)="abrirModalNovaAula()"
              ></button>
              <p-fieldset legend="Aulas" toggleable="true">
                <div class="grid">
                  <div
                    class="col-12 md:col-12 mb-2"
                    *ngFor="let aula of aluno.aulas"
                  >
                    <a
                      role="button"
                      (click)="selecionarAula(aula)"
                      class="link"
                    >
                      {{ aula.dataAula | date : "dd/MM/yyyy" }}</a
                    >

                    {{
                      aula.comentarios
                        ? aula.comentarios!.length > 120
                          ? " - " + (aula.comentarios | slice : 0 : 117) + "..."
                          : " - " + aula.comentarios
                        : " - Sem comentários do professor"
                    }}
                  </div>
                </div>
              </p-fieldset>
            </div>
          </div>

          <!-- Recursos que foram trocados entre prof e aluno -->
          <div class="col-6 md:col-6">
            <p-fieldset legend="Recursos trocados" toggleable="true">
              <div class="grid">
                <div class="col-12 md:col-12">
                  <a href="#"> https://www.g1.com </a>
                </div>
                <div class="col-12 md:col-12">
                  <a href="#"> https://www.uol.com.br </a>
                </div>
                <div class="col-12 md:col-12">
                  <a href="#"> https://www.terra.com.br </a>
                </div>
              </div>
            </p-fieldset>
          </div>
        </div>

        <!-- Recomendacoes -->
        <div>
          <h5 class="mt-4">Recomendações</h5>
          <p-card class="mt-2">
            <ul class="m-0 pl-3">
              <li *ngFor="let item of aluno.recomendacoes">{{ item }}</li>
            </ul>
          </p-card>
        </div>

        <!-- Notas -->
        <div>
          <h5 class="mt-4">Notas do Professor</h5>
          <p-card class="mt-2">
            <ul class="m-0 pl-3">
              <li *ngFor="let nota of aluno.notas">{{ nota }}</li>
            </ul>
          </p-card>
        </div>
      </div>
    </div>
  </p-card>

  <p-dialog
    header="Nova Aula"
    [(visible)]="modalNovaAulaVisivel"
    [modal]="true"
    [style]="{ width: '1500px' }"
    [closable]="false"
    [draggable]="false"
    [closable]="true"
  >
    <app-nova-aula
      *ngIf="modalNovaAulaVisivel"
      (salvarAula)="onSalvarAula($event)"
      (cancelar)="fechaModalNovaAula()"
    ></app-nova-aula>
  </p-dialog>

  <p-dialog
    header="Detalhar Aula"
    [(visible)]="modalNovaDetalharAulaVisivel"
    [modal]="true"
    [style]="{ width: '1500px' }"
    [closable]="false"
    [draggable]="false"
    [closable]="true"
  >
    <app-detalhar-aula
      *ngIf="modalNovaDetalharAulaVisivel"
      [aula]="aulaSelecionada"
      (fechar)="fechaModalDetalharAula()"
    ></app-detalhar-aula>
  </p-dialog>

  <footer class="footer-fixo shadow-3">
    <div class="flex gap-3" style="justify-content: center">
      <p-button
        label="Voltar"
        icon="pi pi-arrow-left"
        class="p-button-text p-button-secondary"
        (onClick)="voltarParaListagem()"
      >
      </p-button>
    </div>
  </footer>
</div>
