/* @plugin "tailwindcss-primeui"; */

/* #image-container {
  min-height: 200px;
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: visible;
  padding: 10px;
}

#image-container img {
  width: 200px;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
} */

/* #paste-button {
  margin-top: 8px;
} */

.footer-fixo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #e9eaeb;
  padding: 0.5rem 2rem;
  z-index: 1000;
  border-top: 1px solid #ccc;
}

/* :host ::ng-deep .fc {
  padding: 1rem;
} */

.p-datatable {
  font-size: 13px !important;
  word-break: break-all !important;
}

.p-datatable-table {
  border-spacing: 0px;
  width: 100%;
}

.p-datatable .p-datatable-thead > tr:first-child > th {
  word-break: normal;
  white-space: normal;
  background-color: #455d7a;
  color: #fff;
  border-right: 1px solid #ffffff;
  min-height: 30px;
  padding: 4px 15px 4px 5px;
}

.p-datatable .p-datatable-tbody > tr:not(.expandable) td:not(.last-cell) {
  border-right: 1px solid #d4d4d4;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #fff;
}

/* 


*/

@import "tailwindcss";
@plugin "tailwindcss-primeui";

@layer base {
  html {
    font-size: 0.875rem;
    padding: 1rem;
  }
  h1 {
    font-size: var(--text-2xl);
    font-weight: 700;
  }
  h2 {
    font-size: var(--text-xl);
    font-weight: 500;
  }
}

@layer components {
  .card {
    background-color: var(--color-white);
    border-radius: var(--rounded-lg);
    padding: var(--spacing-6);
    box-shadow: var(--shadow-xl);
  }
}

body {
  font-size: 1rem !important;
  background: #f1f1f1;
}

.titulo {
  font-size: 1.5rem;
  border-bottom: 1px solid var(--p-surface-300);
  margin-bottom: 2rem !important;
}

.calendar-card {
  max-width: 85rem;
  margin: 2rem auto !important;
  overflow-x: auto;
  /* padding: 1rem; */
  /* box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06); */
  /* border-radius: 12px; */
  /* background-color: #ffffff; */
}

.invisible-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.img-aluno {
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
}

.img-miniatura {
  width: 65px;
  height: 65px;
}

.img-miniatura-sm {
  width: 50px;
  height: 50px;
}

.img-detalhe-aluno {
  width: 160px;
  height: 160px;
}

.checkbox-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
}

@keyframes entradaBusca {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Ver como trocar para fazer com que a linha não seja quebrada */
/* .p-autocomplete-input-inf-basicas > div > input {
  display: block;
  width: 12rem;
} */

.busca-page {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertical */
}

.busca-wrapper {
  margin: 1rem 0;
  animation: entradaBusca 1s ease;
  max-width: 500px;
  width: 100%;
}

.icone {
  font-size: 1.3rem;
}

.botao-cancelar {
  background: none;
  border: none;
  color: var(--p-red-500);
  cursor: pointer;
}

.botao-cancelar:hover {
  color: var(--p-red-300);
}

textarea {
  line-height: 1.5;
}

.botao-editar {
  background: none;
  border: none;
  color: var(--p-primary-color, #007ad9);
  cursor: pointer;
}

.botao-editar .pi {
  font-size: 1.2rem;
}

.botao-editar:hover {
  color: var(--p-primary-dark-color, #005fa3);
}

.error-message {
  @apply text-xs text-red-600;
}

.form-field {
  @apply flex flex-col gap-2 mb-4;
}
.label {
  @apply text-sm font-medium text-gray-700;
}

.label-formulario {
  color: var(--color-gray-700);
  --tw-font-weight: var(--font-weight-medium);
  font-weight: var(--font-weight-medium);
  font-size: var(--text-sm);
  line-height: var(--tw-leading, var(--text-sm--line-height));
}

.link {
  color: var(--p-primary-color, #007ad9) !important;
  text-decoration: underline;
  cursor: pointer;
}

.link-icone {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.button-large > button {
  font-size: 1.25rem !important;
}

.p-tooltip .p-tooltip-text {
  font-size: 0.85rem;
}

.fc-event-title-container {
  text-align: center;
}

.p-dialog-loading .p-dialog-content {
  background: transparent;
  box-shadow: none;
}

/* .p-datatable-tbody > tr:hover {
  background-color: #cde3f2 !important;
} */

.linha-clicavel {
  border-radius: 0.5rem; /* ou 8px */
  transition: background-color 0.3s ease;
}

.linha-clicavel:hover {
  background-color: #cde3f2 !important;
  cursor: pointer;
}

.cartao-estatistica {
  width: 100%;
  max-width: 18rem;
}

.p-card {
  padding: 1.5rem;
}

.surface-border {
  border-color: var(--p-surface-border, var(--p-surface-200)) !important;
}
