html {
  font-family: Inter var, sans-serif;
  font-size: 0.875rem;
  line-height: 1.5;
}

body {
  font-size: 1rem !important;
  background: #f1f1f1;
}

.titulo {
  font-size: 22px;
  border-bottom: 1px solid #e0e2e3;
  color: #333;
  height: 30px;
  width: 100%;
  margin-bottom: 14px !important;
}

.img-miniatura {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
}

.img-detalhe-aluno {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  display: block;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.12);
}

#image-container {
  min-height: 200px;
  border: 2px dashed #ccc;
  background-color: #f8f9fa;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: visible;
  padding: 10px;
}

#image-container img {
  width: 200px;
  height: auto;
  object-fit: contain;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

#paste-button {
  margin-top: 8px;
}

.invisible-input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.footer-fixo {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #e9eaeb;
  padding: 0.5rem 2rem;
  z-index: 1000;
  border-top: 1px solid #ccc;
}

.icone {
  font-size: 1.3rem;
}

.calendar-card {
  overflow-x: auto;

  margin: 2rem auto;
  padding: 1rem;
  max-width: 1200px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 12px;
  background-color: #ffffff;
}

:host ::ng-deep .fc {
  padding: 1rem;
}

.checkbox-group-horizontal {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* espaço entre checkboxes */
  align-items: center;
}

.checkbox-item {
  display: flex;
  align-items: center;
  white-space: nowrap; /* evita quebra de linha no label */
}

@keyframes entradaBusca {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.busca-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0;
  animation: entradaBusca 1s ease;
}

.busca-box {
  background-color: #e2eef6; /* azul bem claro */
  border-radius: 6px;
  padding: 0.3rem 0.7rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.08);
  max-width: 500px;
  width: 100%;
}

.p-datatable {
  font-size: 13px !important;
  word-break: break-all !important;
}

.p-datatable-table {
  border-spacing: 0px;
  width: 100%;
}

.p-datatable .p-datatable-thead > tr:first-child > th {
  word-break: normal;
  white-space: normal;
  background-color: #455d7a;
  color: #fff;
  border-right: 1px solid #ffffff;
  min-height: 30px;
  padding: 4px 15px 4px 5px;
}

.p-datatable .p-datatable-tbody > tr:not(.expandable) td:not(.last-cell) {
  border-right: 1px solid #d4d4d4;
}

.p-datatable .p-sortable-column.p-highlight .p-sortable-column-icon {
  color: #fff;
}

.p-autocomplete-input-inf-basicas > div > input {
  display: block;
  width: 10rem;
}

/* 


*/

.botao-cancelar {
  background: none;
  border: none;
  color: var(--p-red-500);
  cursor: pointer;
}

.botao-cancelar:hover {
  color: var(--p-red-300);
}

textarea {
  line-height: 1.5;
}

.botao-editar {
  background: none;
  border: none;
  color: var(--p-primary-color, #007ad9);
  cursor: pointer;
}

.botao-editar .pi {
  font-size: 1.2rem;
}

.botao-editar:hover {
  color: var(--p-primary-dark-color, #005fa3);
}

.error-message {
  display: block;
  color: red;
  font-size: 0.8em; /* Adjust as needed */
  margin-top: 5px; /* Adjust spacing */
}

.link {
  color: var(--p-primary-color, #007ad9) !important;
  text-decoration: underline;
  cursor: pointer;
}

.link-icone {
  text-decoration: none;
  cursor: pointer;
  font-size: 1.1rem;
}

.button-large > button {
  font-size: 1.25rem !important;
}

.p-tooltip .p-tooltip-text {
  font-size: 0.85rem;
}

.fc-event-title-container {
  text-align: center;
}

.p-dialog-loading .p-dialog-content {
  background: transparent;
  box-shadow: none;
}

.p-datatable-tbody > tr:hover {
  background-color: #cde3f2 !important;
}

.linha-clicavel {
  border-radius: 0.5rem; /* ou 8px */
  transition: background-color 0.3s ease;
}

.linha-clicavel:hover {
  background-color: #cde3f2 !important;
  cursor: pointer;
}

.cartao-estatistica {
  width: 100%;
  max-width: 18rem;
}

.p-card {
  padding: 1.5rem;
}

/*
table {
  caption-side: bottom;
}

tbody,
td,
tfoot,
th,
thead,
tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}
*/
